body {
    background-image: url(./img/Prancheta\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 700px;
    margin: 100px auto;
    padding: 30px;
    background-color: #EEFCF3;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.user-info {
    background-color: #EEFCF3;
    padding: 15px;
    border-radius: 8px;
}

.user-info input {
    border-radius: 12px;
    border-style: none;
    color: #555555;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #c8c8ca;
    font-size: 1rem;
}

.user-info input:hover {
    cursor: default;
    border-style: none;
}

.user-info input::after{
    background-color: #0000ff;
}

.user-info .user-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.button-group {
    text-align: center;
}

.button-group button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="button"] {
    background-color: #f44336;
    color: white;
}
