body {
    position: relative;
    background-color: #5f1818;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    position: fixed;
    width: 100%;
    z-index: 20;
    color: white;
    margin-top: 17px;
}

.header h1 {
    font-size: larger;
    margin: 0;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-image {
    width: 50px;
    height: auto;
    z-index: 10;
    filter: drop-shadow(2px 2px 2px #222);
}

.bell-icon {
    width: 24px;
    height: 24px;
}

.avatar {
    margin-left: 10px;
    width: 30px;
    height: auto;
}

.username {
    font-size: 3rem;
    margin-left: 10px;
    white-space: nowrap;
}

.chevron-down {
    width: 24px;
    height: 24px;
    margin-right: 9vh;
}

.dropdown-menu,
#notification-menu {
    display: none; /* Esconde o menu por padrão */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 30; /* Certifique-se de que o z-index seja maior que o header */
    top: 60px; /* Ajuste conforme a posição do seu header */
    right: 20px;
    border-radius: 5px;
    padding: 10px;
}

.dropdown-menu ul,
#notification-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li,
#notification-menu ul li {
    padding: 8px 12px;
}

.dropdown-menu ul li a,
#notification-menu ul li {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu ul li a:hover,
#notification-menu ul li:hover {
    background-color: #ddd;
}

.sidebar {
    width: 250px;
    height: calc(100vh - 80px);
    margin-top: 80px;
    background-color: #33333300;
    padding-top: 20px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-menu ul li {
    width: 100%;
}

.nav-menu ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.nav-menu ul li a:hover {
    background-color: #58585828;
}

.wrapper {
    top: 10.5vh;
    left: 28vh;
    padding: 20px;
    background-color: #1f1f1f28;
    height: 400px;
    width: 1402px;
    z-index: 2;
    position: relative;
    color: white;
    border-radius: 20px;
}

.main-nav {
    font-size: 2rem; /* Aumenta o tamanho da fonte */
    text-align: start;
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    display: flex; /* Usar flexbox para alinhamento */
    justify-content: space-between; /* Espaço entre o título e o botão */
}

.filter-container {
    display: flex; /* Alinha os itens horizontalmente */
    justify-content: space-between; /* Espaço entre os grupos */
    margin: 20px 0; /* Espaçamento acima e abaixo do container */
}

.filter-left,
.search-container {
    display: flex;
    align-items: center; /* Alinha verticalmente os elementos */
}

.filter-left input[type="date"],
.search-container input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px; /* Espaçamento entre o campo e o botão */
}

.filter-left button,
.search-container button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.filter-left button:hover,
.search-container button:hover {
    background-color: #555;
}

.ticket-list-wrapper {
    display: flex;
    flex-direction: column; /* Para que os elementos fiquem empilhados verticalmente */
    align-items: stretch; /* Para que todos os elementos ocupem a largura total */
}

.ticket-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

.ticket-list li {
    background-color: #33333350;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-list li span {
    color: white;
}

.ticket-status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.ticket-status.pending {
    background-color: orange;
}

.ticket-status.completed {
    background-color: green;
}

.ticket-status.cancelled {
    background-color: red;
}

.color1 {
    height: 1000px;
    width: 1400px;
    background-image: radial-gradient(closest-side, #8a0000, #5F1818);
    position: fixed;
    top: -29rem;
    left: -20rem;
    z-index: 1;
}

.color2 {
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, #630f00af, #5F1818);
    position: fixed;
    bottom: -20rem;
    right: -20rem;
    z-index: 1;
}
